<div id="navbar" class="navbar">
<div class="dragmenu" id=newpicture><i title="New picture" class="icon-2x icon-picture"></i></div>
<div class="dragmenu" id=newhost><i title="New host" class="icon-2x icon-hdd"></i></div>
<div class="dragmenu" id=newpool><i title="New pool" class="icon-2x icon-th"></i></div>
<div class="dragmenu" id=newmap><i title="New map" class="icon-2x icon-sitemap"></i></div>
<div class="dragmenu" id=newtext>T</div>
<div id=save><i title=Save class="icon-2x icon-save"></i></div>
</div>
<style type='text/css'>
table {
width:auto;
}
</style>
<div id="map"></div>
<script type="text/javascript" src="/js/create_map.js"></script>
<script type="text/javascript">
 $(document).ready(function(){editmapinit("{{id}}");});
</script>
