<div id="logo"></div>

<div id="loading-message">Loading page, please wait...</div>

<span id="lemenu">
<ul id='menubaBar'>
    <li><a href="#currentEventLog"><img src="/images/dots_yellow.png" />Bac d'alarme</a></li>
    <li><a href="#currentEventLogHistory"><img src="/images/dots_yellow.png" />Bac d'&eacute;v&eacute;nement</a></li>
    <li class="sep"><a href="#eventLog"><img src="/images/dots_yellow.png" />Journal d'&eacute;v&eacute;nement</a></li>
    <div id="menuToHide" style="display: none;">
    <li><a href="#hostList"><img src="/images/dots_green.png" />Liste d'&eacute;quipement</a></li>
    <li><a href="#whiteList"><img src="/images/dots_green.png" />Liste blanche</a></li>
    <li><a href="#blackList"><img src="/images/dots_green.png" />Liste noire</a></li>
    <li class="sep"><a href="#poolList"><img src="/images/dots_green.png" />Regroupements</a></li>
    <li><a href="#duplicateRulesList"><img src="/images/dots_purple.png" />R&egrave;gle de doublons</a></li>
    <li><a href="#duplicateList"><img src="/images/dots_purple.png" />Doublons</a></li>
    <li><a href="#criticalityList"><img src="/images/dots_purple.png" />Niveaux de criticit&eacute;</a></li>
    <li><a href="#connectorList"><img src="/images/dots_purple.png" />Connecteurs</a></li>
    <li class="sep"><a href="#requalificationList"><img src="/images/dots_purple.png" />Requalification</a></li>
    <li><a href="#userList"><img src="/images/dots_bluesky.png" />Utilisateurs</a></li>
    <li class="sep"><a href="#groupList"><img src="/images/dots_bluesky.png" />Groupes d'utilisateur</a></li>
    </div>
    <li class="sep"><a href="#cartographyList"><img src="/images/dots_orange.png" />Cartographie</a></li>
    <li><a href="#signOut"><img src="/images/dots_kaki.png" />D&eacute;connexion</a></li>
</ul>
</span>
<div id='loginBox'></div>
<div id='tabPanel' class="tab_page">
    <ul>
 <!--       <li><button id="menu">Menu</button></li>-->
	</ul>
</div>
<div id="informationDialog">
</div>
