<form id="loginForm" action="" method="post">
  <h2>Login</h2>	
  <div id="loginlogo"></div>
  <fieldset>
    <table><tbody><tr>
      <th><label>Utilisateur:</label></th>
      <td><input id="username" type="text" name="username" size="24"></td>
    </tr><tr>
      <th><label>Password:</label></th>
      <td><input id="password" type="password" name="password" size="24"></td>
    </tr>
    </tbody></table>
  </fieldset>
  <div class="buttons">
    <button id="submit_loginForm" type="submit">Login</button>
  </div>
</form>
