<div id="logo"></div>

<div class="header">
<div class="top">
<div class="controllers">
<span class="close">
</span>
<span class="hide">
</span>
<span class="maximize">
</span>
</div>
<!--<div class="title">
{{values._id}} Details</div>
</div>-->
<div class="header-specific">
</div>
</div>
<div class="content">
<div class="webos-container headerHost" id="webos-widget-140">
<div class="webos-labelfl" style="height: 6em; padding: 20px;"><i class="icon-info-sign icon-4x"></i></div>
<div class="webos-labelfl" style="height: 6em;">
Pool :</div><div class="webos-label" style="height: 6em;"> {{values._id}}</div>


<div class="webos-container headerHostActions" id="webos-widget-143" style="">
<ul class="button-bar">
<li><a href="javascript:void(0);" onclick="showHost('ohmhost');"><i class="icon-home" ></i>Ohm</a></li>
<li><a href="javascript:void(0);" onclick="showHost('history');"><i class="icon-calendar"></i>Historique</a></li>
<li><a href="javascript:void(0);" onclick="showHost('alarms');"><i class="icon-calendar"></i>Alarmes</a></li>
<!-- <li><a href="javascript:void(0);" onclick="showHost('metrology');"><i class="icon-bar-chart"></i>Metrologie</a></li> -->
<!-- <li><a href="javascript:void(0);"><i class="icon-file-alt"></i>QRS</a></li> -->
</ul>
</div>
</div>
<div id="botcont" style="position : relative;">
<div id="ohmhost">

</div>
<div id="alarms" style="visibility:hidden; position: absolute; left: 0px; top: 0px;">
</div>
<div id="history" style="visibility:hidden; position: absolute; left: 0px; top: 0px;">
</div>
<div id="metrology" style="visibility:hidden; position: absolute; left: 0px; top: 0px;">
</div>

</div>

